<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">




        <div class="panel panel-default">
            <div class="panel-heading">
              Create Movie
            </div>

            <div class="panel">
                <div layout="column" layout-align="center center">
                    <md-select placeholder="Assign to user" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
                        <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
                    </md-select>
                    <md-select placeholder="Assign to user" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
                        <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
                    </md-select>
                    <md-select placeholder="Assign to user" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
                        <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
                    </md-select>
                    <md-select placeholder="Assign to user" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
                        <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
                    </md-select>
                    <md-button class="md-raised md-primary">Create Movie</md-button>

                </div>
            </div>
        </div>



        </div>
    <div class="col-md-1"></div>
</div>